In [3]:
import pandas as pd

In [4]:
xl_file = 'C:\Temp\Anaconda\score.xlsx'
df = pd.read_excel(xl_file)
#print(df)

In [10]:
c1 = df['midterm']>=20

In [11]:
c2 = df['final']>=20

In [13]:
df=df[c1&c2]
df[["sno", "midterm", "final"]]

    sno  midterm  final
0     1    35.00  30.10
1     2    34.12  30.10
2     3    34.30  29.75
3     4    31.50  29.05
4     5    33.25  21.35
5     6    24.50  32.20
6     7    23.80  28.70
7     8    28.87  25.90
8     9    29.75  21.70
10   11    29.57  21.35
11   12    31.50  20.65
12   13    29.75  21.00
14   15    28.00  23.10
15   16    24.50  24.85
18   19    24.50  24.50
19   20    28.00  20.65
26   27    22.75  22.05
28   29    26.25  22.40
36   37    24.50  20.30